{% extends 'base.html.twig' %}

{% block body %}
    <div style="display: flex; align-items: center;">
        CMT HOME <img style="max-height: 200px;" src="{{ asset('logo.svg') }}" alt="collections management tool logo svg" />
    </div>
{% endblock %}